* {
  box-sizing: border-box;
}

body {
  color: rgb(90 5 5);
}

.Whole-container,
.header {
  display: flex;
  gap: 10px;
  width: 800px;
  height: auto;
  background-color: gainsboro;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;
}

.container-form {
  align-items: center;
  align-self: center;
}

.label {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  border-left: 3px black;
  border-top: 3px black;
  padding: 10px;
  border-radius: 6px;
  margin-left: 110px;
  cursor: pointer;
  width: 75px;
}

.refresh {
  border-left: 3px black;
  border-top: 3px black;
  width: 75px;
  padding: 8px;
  align-self: center;
}

.input-name,
.input-score {
  padding: 10px;
  border: 2px solid rgb(10, 9, 9);
  border-radius: 6px;
  flex: 1;
}

.input-name:focus {
  outline: none;
}

.input-score:focus {
  outline: none;
}

.head {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.scores {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.scores .score {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
}

.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}
